
.icon-play:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-to-end:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-resize-normal:before { content: '\e805'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */