
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-zoom-out:before { content: '\e751'; } /* '' */
.icon-to-end:before { content: '\e762'; } /* '' */
.icon-to-start-alt:before { content: '\e763'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-to-end-alt:before { content: '\e802'; } /* '' */
.icon-resize-normal:before { content: '\e803'; } /* '' */
.icon-floppy:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */